h1 {
    color:blue;
    font-style:italic;
    background-color:red;
    text-align:center;
    text-decoration:underline
}

body {
    background-color:aliceblue
}

.start_link {
    font-size: 20px;
    font-family: fantasy
}

.tag {
    color: darkgreen;
    background-color:lightcoral;
    font-size:30px
}

#nein {
    font-family:Arial, Helvetica, sans-serif;
    font-size:25px
}

#rennen {
    font-family:fantasy;
    font-style:italic
}